footer {
    background-color: #1a2530;
    color: white;
    padding: 3rem 0 1.5rem;
    justify-content: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 500px;
}

.footer-column h3 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: tan;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 0.8rem;
}

.copyright {
    text-align: center;
    padding-top: 1.5rem;
    border-top: 1px solid #898989;
    color: #bbb;
    font-size: 0.9rem;
}